*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
/* define colors */
:root{
  --primary-color: #ee6b2a;
  --primary-color-faint: #f3942a;
  --CTA-color-faint: #fad55d;
  --CTA-color-secondary: #FFEDE0;
  --bg-color: #f7f7f7;
  --secondary-color: #bdbcbc;

  --primary-fontColor: #0D1536;
  --secondary-fontColor: #FEA462;
}

body{
width: 100%;
color: var(--primary-fontColor);
overflow-x: hidden;
}

/* links */
 a.primary-link{
   font-weight: bold;
   font-size: 1rem;
   color: white;
   border: none;
   border-radius: 1.5rem;
   padding: 0.5rem 1.3rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  background-image: linear-gradient(to right, var(--CTA-color-faint), var(--primary-color));
}
a.primary-link:hover{
  background-image: linear-gradient(to right, var(--CTA-color-faint), var(--primary-color-faint)); 
}
.secondary-link{
  background-color: var(--CTA-color-secondary);
  color: var(--secondary-fontColor);
  padding: 0.3rem 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  margin-right: 0.5rem;
}
.secondary-link i{
  margin-right: 4px;
}

/* grid-of-blogs */
.grid-container{
  width: 100%;
  max-width: 750px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5rem;
  justify-items: center;
  padding: 2rem 1rem;
  margin: auto;
}
.grid-item{
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: white;
  padding: 0rem 0 0.5rem;
  box-shadow: 0px 0px 30px var(--secondary-color);
  transition: transform 0.2s;
}

.grid-item:hover{
transform: scale(1.05);
}
.text-section{
  padding: 1.5rem 1.5rem 1rem;
}
img.coverImg{
  display: block;
  object-fit: fill;
  width: 100%;
  height: 200px;
}

.grid-item .title{
  padding: 1rem 0 0.5rem;
}

/* navigation */

.logo{
  width: 60px;
  height: 30px;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 5px var(--secondary-color);

}

ul{
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
}
.nav-links{
  text-decoration: none;
  padding-left: 1.5rem;
  font-weight: bold;
}
.link-animation{
  background-image: linear-gradient(to right, var(--CTA-color-faint), var(--primary-color)50%, var(--primary-fontColor)50%);
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.275s ease;
}
.link-animation:hover{
  background-position: 0 100%;
}
.styleForLink{
  text-decoration : none;
}
/* section headings */
#myblogs{
  padding: 2rem 0;
  min-height: 60vh;
}
.heading{
  width: 100%;
  max-width: 700px;
  margin: auto;
}
.heading h1{
  font-family: 'Limelight', cursive;
  text-align: center;
  margin: 1.5rem 1.5rem 1rem;
  background-image: linear-gradient(to bottom, var(--CTA-color-faint), var(--primary-color));
  background-size: 100%;
  background-clip: text;
  color: transparent;

}
.heading h2{
  font-size: 1.3rem;
  margin: 0 1.5rem 2rem 1.5rem;
  text-align: center;
}
/* footer section */
footer{
  padding: 2rem 2rem 4rem;
  background-color: white;
  box-shadow: 0px 0px 5px var(--secondary-color);
}

#footer .footer-links{
  padding-right: 1rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}
a{
  color: var(--primary-fontColor);
}

#footer .footer-links:hover{
  transform: translateY(-0.5rem);
  }

.divider-line{
  margin: 1.5rem 0;
  background-color: var(--secondary-color);
  height: 1px;
  width: 100%;
}

.footer-bottom{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom .nav-links{
  font-weight: normal;
}

/* search section */
#searchblogs{
  min-height: 70vh;
  text-align: center;
  padding-top: 2rem;
}
#searchblogs .grid-container .grid-item{
  text-align: left;
}
input{
  display: inline-block;
  height: 40px;
  background-color: #F0F2F4;
  border-left: 2px solid #F0F2F4;
  border-top: 2px solid #F0F2F4;
  border-bottom: 2px solid #F0F2F4;
  font-weight: bold;
  border-right: none;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  outline: none;
}
input:focus{
  border-left: 2px solid var(--primary-color);
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

button{
  display: inline-block;
  height: 40px;
  background-image: linear-gradient(to right, var(--primary-color-faint), var(--primary-color));
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}

/* About page */
.about-page{
  min-height: 70vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-page .heading a{
  text-decoration: underline var(--primary-fontColor);
  text-underline-position: under;
}
.bodyEm{
  font-size: 1.1rem;
  line-height: 1.6rem;
  text-align: justify;
  margin: 0 1.5rem;
}
.about-page .heading a:hover{
  text-decoration: none;
}

/* hamburger menu */
.line{
  height: 3px;
  width: 25px;
  margin: 4px;
  background-image: linear-gradient(to right, var(--primary-color-faint), var(--primary-color));
}

.burger{
  display: none;
}

@media screen and (max-width: 767px){
  .footer-bottom{
    display: block;
  }
  footer{
    text-align: center;
  }
  .footer-bottom ul{
    justify-content: center;
  }
  .nav-links{
    padding: 1rem 1.5rem 0 0;
    display: inline-block;
  }
  .grid-container{
    grid-template-columns: auto;
  }

  /* hamburger menu in S,M devices */
  .burger{
    display: block;
  }

  ul.nav-menu {
    width: 50%;
    flex-direction: column;
    position: absolute;
    top: 78px;
    right: 0;
    background-image:linear-gradient(to bottom, var(--CTA-color-faint), var(--primary-color-faint));
    align-items: left;
    justify-content: center;
    padding-bottom: 2rem;

    transform: translateX(100%);
    transition: transform 0.4s ease;
  }

  .nav-menu .styleForLink{
    padding: 1rem 1rem 0 1rem;
  }
  .nav-menu .link-animation{
    background-image: linear-gradient(to right, var(--primary-fontColor), var(--primary-fontColor)50%, white 50%);
  }  

  ul.active{
    transform: translateX(0%);
  }

  ul.active li{
    animation: moveHorizontal 700ms forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  }
  /* to hide overflow */
  html{
    overflow-x: hidden;
  }
  @keyframes moveHorizontal {
    from {position: relative;
          left: 50%;}
    to {position: relative;
      left: 0%;}
  }

  .cross .line2{
    display: none;
  }
  .cross .line1{
    transform: rotate(-45deg);
    position: relative;
    top: 3px;
    transition: transform 0.4s ease;
  }
  .cross .line3{
    transform: rotate(45deg);
    position: relative;
    bottom: 4px;
    transition: transform 0.4s ease;
  }
}